SITE_MEDIA_MANIFEST_URL=
SITE_MEDIA_PUBLIC_BASE_URL=
SITE_MEDIA_MANIFEST_KEY=website/manifest.json
AWS_REGION=eu-north-1
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
